// Submit each task as a SLURM job. Needs a filesystem shared between the submit and
// compute nodes for the work directory and containers.
process {
    executor = 'slurm'
    queue = params.slurm_queue
    clusterOptions = params.slurm_account ? "--account=${params.slurm_account}" : ''
}

executor {
    queueSize = 50
    pollInterval = '30 sec'
    submitRateLimit = '10/1min'
}
